<section class='row-category' id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <span class='row-bracket'> [ </span>
        <span class='row-category'>{{message}}</span>
        <span class='row-bracket'> ] </span>
        <hr>
        <br>
        <div class='row' layout="row">
          <div flex>
            <div ng-cloak>
              <md-content layout="row" layout-fill layout-wrap style="background-color:black;">
                <div flex="50" flex-xs="100">
                  <a ui-sref='project'>
                    <md-card>
                      <md-card-header>
                        <md-card-header-text>
                        </md-card-header-text>
                      </md-card-header>
                      <!-- <md-icon>people</md-icon> -->
                      <md-card-title>
                        <md-card-title-text>
                          <span class="md-headline center">project</span>
                        </md-card-title-text>
                      </md-card-title>
                      <md-card-content>
                        <p>
                        </p>
                      </md-card-content>
                    </md-card>
                  </a>
                </div>
                <div flex="50" flex-xs="100">
                  <a ui-sref='project'>
                    <md-card>
                      <md-card-header>
                        <md-card-header-text>
                        </md-card-header-text>
                      </md-card-header>
                      <!-- <md-icon>people</md-icon> -->
                      <md-card-title>
                        <md-card-title-text>
                          <span class="md-headline center">project</span>
                        </md-card-title-text>
                      </md-card-title>
                      <md-card-content>
                        <p>
                        </p>
                      </md-card-content>
                    </md-card>
                  </a>
                </div>
                <div flex="50" flex-xs="100">
                  <a ui-sref='project'>
                    <md-card>
                      <md-card-header>
                        <md-card-header-text>
                        </md-card-header-text>
                      </md-card-header>
                      <!-- <md-icon>people</md-icon> -->
                      <md-card-title>
                        <md-card-title-text>
                          <span class="md-headline center">project</span>
                        </md-card-title-text>
                      </md-card-title>
                      <md-card-content>
                        <p>
                        </p>
                      </md-card-content>
                    </md-card>
                  </a>
                </div>
                <div flex="50" flex-xs="100">
                  <a ui-sref='project'>
                    <md-card>
                      <md-card-header>
                        <md-card-header-text>
                        </md-card-header-text>
                      </md-card-header>
                      <!-- <md-icon>people</md-icon> -->
                      <md-card-title>
                        <md-card-title-text>
                          <span class="md-headline center">project</span>
                        </md-card-title-text>
                      </md-card-title>
                      <md-card-content>
                        <p>
                        </p>
                      </md-card-content>
                    </md-card>
                  </a>
                </div>
              </md-content>
            </div>
          </div>
        </div>
        <br>
        <hr>
      </div>
    </div>
  </div>
</section>