<section class='row-category' id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <span class='row-bracket'> [ </span>
        <span class='row-category'>{{message}}</span>
        <span class='row-bracket'> ] </span>
        <hr>
        <br>
        <div class='row' layout="row">
          <div flex>
              <!-- <span flex class='row-bracket'> [ </span> -->
              <span flex class='row-category'>front-end</span>
              <!-- <span flex class='row-bracket'> ] </span> -->
              <br>
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>javascript</span>
              <span flex class='row-bracket'> ] </span>
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>HTML</span>
              <span flex class='row-bracket'> ] </span>   
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>CSS</span>
              <span flex class='row-bracket'> ] </span>
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>jQuery</span>
              <span flex class='row-bracket'> ] </span>
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>AngularJS</span>
              <span flex class='row-bracket'> ] </span>

          </div>
          <div flex>
              <!-- <span flex class='row-bracket'> [ </span> -->
              <span flex class='row-category'>back-end</span>
              <!-- <span flex class='row-bracket'> ] </span> -->
              <br>
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>javascript</span>
              <span flex class='row-bracket'> ] </span>
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>HTML</span>
              <span flex class='row-bracket'> ] </span>   
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>CSS</span>
              <span flex class='row-bracket'> ] </span>
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>jQuery</span>
              <span flex class='row-bracket'> ] </span>
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>AngularJS</span>
              <span flex class='row-bracket'> ] </span>

          </div>
          <div flex>
              <!-- <span flex class='row-bracket'> [ </span> -->
              <span flex class='row-category'>others</span>
              <!-- <span flex class='row-bracket'> ] </span> -->
              <br>
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>javascript</span>
              <span flex class='row-bracket'> ] </span>
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>HTML</span>
              <span flex class='row-bracket'> ] </span>   
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>CSS</span>
              <span flex class='row-bracket'> ] </span>
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>jQuery</span>
              <span flex class='row-bracket'> ] </span>
              <br>
              <span flex class='row-bracket'> [ </span>
              <span flex class='row-category'>AngularJS</span>
              <span flex class='row-bracket'> ] </span>

          </div>
        </div>
        <br>
        <hr>
      </div>
    </div>
  </div>
</section>